

body {
    letter-spacing: -0.022em;
    background-color: #1c1c1c;
    font-family: 'Chakra Petch', sans-serif;   
    text-align: center;
    overflow: auto;
}

.top{
    background-color: #262626;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    box-shadow: 0 0px 20px rgb(0, 0, 0, .4);
}


.loginpage{
    background-color: #262626;
    border-radius: 8px;
    margin: 5%;
    width: 50%;
    display: flex;
    align-items: center;
}


.login{
    margin: 50px;
    color: white;
}

.maintop2{
    top: 5%;
    text-align: center;
}

.main{
    position: relative;
    bottom: 0;
    font-size: 20px;
}

.whitetext{
    color: white;
    font-family: 'Chakra Petch', sans-serif;   
    text-align: center;
}

.whitetext2{
    color: white;
    font-family: 'Chakra Petch', sans-serif;   
    text-align: center;
    margin: 5px;
}

.orangetext{
    color: rgb(255, 181, 7);
    font-family: 'Chakra Petch', sans-serif;   
    font-size: 25px;
    text-align: center;
    padding: 25px;
}

ul{
    width: 100%;
    height: auto;
    text-align: center;
    padding-left: 22px;
    padding-right: 22px;
    float:none;
    display: flex;
    list-style: none;
    
}

a{
    text-decoration: none;
}

.logo{   
    height: auto;
    width: 40px;
}

.bottom{
    background-color: #2f2f2f;
    color: white;
    width: 100%;
    height: 90px;
    bottom: 0%;
}

footer{
    text-align: center;
    position: relative;
    bottom: 0;
}


aside{
    float: right;
    background-color:rgb(0, 0, 0, .4);
}

h1{
    color: rgb(255, 181, 7);
    margin: 0 auto;
}


.turhake{
    height: 40px;
}
img{
    max-height: 500px;
}

.väli{
    height: 20px;

}