.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.wrappers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.wrapper div {
    border: black, 1px;
    background-color: red;
    height: 50px;
}

.wrappers div {
    height: 50px;
    border: black, 1px;
    background-color: greenyellow;
}

.box3, .box4, .box5, .box6, .box7, .box8, .box9, .box10, .box11, .box22{
    border: 1px solid black;
}

.box1{
    border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}
.box2{
    border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 1;

}