.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.wrappers {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
}

.wrapper div {
    width: 130px;
    border: black, 1px;
    background-color: greenyellow;
    height: 100px;
}

.wrappers div {
    height: 50px;
    border: black, 1px;
    background-color: red;
}

.box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9, .box10{
    border: 1px solid black;
}

.box12{
    border: 1px solid black;
    flex-grow: 8;
}