body{
    background-color: rgb(30, 30, 30);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white
}

.top{
    background-color: rgb(173, 25, 25);
    width: 100%;
    height: 8%;
    display: flex;
    position: absolute;
    align-items: center;

    top: 0%;
    right: 0%;
    left: 0%;
}

.secondtop{
    background-color: rgb(20, 20, 20);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 50px;
    border-color: white;
    position: absolute;
    top: 8%;
    right: 0%;
    left: 0%;
}
.ultop{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-self: center;
}

.logo{
    margin: 5px;
    color: white;
}

.toplinks{
    text-decoration: none;
    color: white;
    margin: 2%;
    
}

li{
    list-style: none;
}

.content img{

    max-width: 500px;

}

.form{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 15%;
    display: flex;
    background-color: rgb(20, 20, 20);    
    width: 50%;
}

form{
    padding: 20%;
}


.ulside{
    list-style: none;
    justify-content: space-evenly;
   
    
}

.content{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15%;
    display: flex;
    background-color: rgb(20, 20, 20);    
    width: 80%;  
}

.uutinen{
    text-align: center;
    color: white;
    background-color: rgb(20, 20, 20);   

  
}




