body{
    background-color: White;
    background-image:url(/Tehtävät/HTML/leveä.png.webp);
}


.top-bar{
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 50px;
    align-items: center;
    display: flex;
    position: absolute;
    top: 0%;
    right: 0%;
    left: 0%;
}

.bottom-bar{
    background-color: rgb(0, 0, 0, 0.8);
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 90px;
    align-items: center;
    display: flex;
    position: absolute;
    bottom: 0%;
    right: 0%;
    left: 0%;
}




.center{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    text-align: center;
    top: 20%;
    padding: 20%;
}

.tab{
    border-radius: 5px;
    background-color: rgb(0, 0, 0, 0.9);
    color: white;
}








.logo{
    max-width: 40px;
    margin: 1%;
}
.dropdown-toggle{
    max-width: 60px;

}

.search{
    max-width: 38px;
    width: 8%;
    position: absolute;
    right: 0%;
    margin: 15%;
}

.profile{
    max-width: 40px;
    position: absolute;
    right: 0%;
}



