body {
    font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: rgb(33, 33, 33);
    color: white;
    overflow: hidden;
    margin: 0;
    padding: 0;
    text-align: center;
  }


  h1 {
    margin: 0;
    font-size: 22px;
    line-height: 22px;
  }


  .main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 75%;
    max-width: 364px;
    padding: 15px;
    background: white;
    color: rgb(14, 30, 37);
    border-radius: 8px;
    box-shadow: 0 0px 20px rgba(0, 221, 255, 1);
  }
