body{
    color: #4b4b4b;   
}
table{
    border: 2px solid #7158e2;
    border-spacing: 0px;
}
th{
    border: 2px solid #7158e2;
    background-color: #fff;
    height: 100px;
    text-align: center;
}
td{
    width: 200px;
    height: 200px;
    border: 2px solid #7158e2;
    text-align: center;
}
.vihree{
    background-color: #3ae374;
}
.kirppu{
    background-image: url(dot.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 15px 15px;
}
.hyppy{
    background-color: #ffb8b8;
}
button{
    padding: 0.5em 1em;
    background-color: #ff9f1a;
}